//BLOCK OF NOTIFICATION
.notification {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    // margin: 10px auto ;
    padding: 4px;
    background-color: red;
    display: flex;
    margin: -100px;
    transition: 0.3s;
    // animation: animate 1s linear;
    // display: none;
  }
  
  .notification-icon {
    margin: auto auto;
  }
  
  .notification-text {
    padding-left: 5px;
  }
  
  .font-icon {
    font-size: 20px;
  }
  