.cart {
  position: relative;
  // padding-right: 20px;
  // padding-top: 5px;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.icon-cart {
  position: relative;
  height: 50px;
  background-color: #333;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-icon {
  font-size: 20px;
  // color: #fff;
  // background-color: #fff;
}

.size-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 10px;
  background-color: red;
  color: var(--white);
  border-radius: 50%;
  right: 0;
  top: 0;
}


.mini-cart-btn {
  border-radius: 10px;
  padding: 10px;
  color: var(--white);
  background-color: var(--background-btn);
  width: 100%;
  cursor: pointer;
}
