.order-status {
  padding: 30px;
  border-radius: 10px;
  width: 200px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  justify-content: space;
  align-items: center;
  flex-direction: column;
}

.order-status-text {
  font-weight: 600;
  padding: 20px 0;
}

.order-status-icon {
  padding: 20px;
  font-size: 30px;
  color: #fff;
  border: 1px solid transparent;
  background-color: #f25f0c;
  border-radius: 50%;
}

.order-status-btn {
  color: #fff;
  font-weight: 600;
  border-radius: 10px;
  padding: 10px;
  background-color: #f25f0c;
  cursor: pointer;
}
