.container-gosh {
  transition: transform 0.25s linear;
  height: 100%;
  width: 100%;
  flex: 1;
}

.main-body {
  padding-left: 100px;
  margin-left: 30px;
}

.main-gosh {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 100%;
  width: 100%;
  height: 100%;
  flex: 1;
  height: 80vh;
}

.ghostDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// MAIN-BODY-TEXT (LEFT-HANDSIDE)
.main-body-title {
  font-size: 30px;
  font-weight: 900;
  color: black;
  padding-bottom: 5px;
}

.main-body-code {
  font-size: 10px;
  color: rgba(57, 53, 53, 0.8);
}

.main-body-ghost-type {
  color: black;
}

.main-body-btn {
  color: var(--white);
  font-size: 20px;
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  margin-top: 30px;
  cursor: pointer;
}

.container-img img {
  width: 400px;
  object-fit: cover;
}

// MAIN-BODY-IMG (RIGHT-HANDSIDE)
