.main {
  position: relative;
}

.slider-dots {
  bottom: 5%;
  right: 15%;
  position: absolute;
  display: flex;
}

.slider-item {
  margin-left: 10px;
  width: 20px;
  height: 10px;
  background-color: red;
}
