.mini-cart{
    position: absolute;
    width: 300px;
    background-color: white;
    top: 100%;
    right: 0;
    // border: 1px solid #333;
    padding: 20px;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    border-radius: 10px;
}

.mini-cart-header {
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mini-cart-body {
    max-height: 200px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    display: none;
}



